body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.hide {
  display: none !important;
}

#img-menu-open, #img-menu-close, .item-menu > a, .header-list-social-media-links > li > svg,
.btn-cta, .list-features > li, .btn-install, .item-question > div:first-of-type:hover, .img-arrow,
#input-submit:hover, .item-helpful-link > a:hover, .item-social-media-link > svg:hover {
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

header.menu-open {
  background-color: hsl(229deg 31% 21% / 90%);
  position: relative;
}

#header-logo, #footer-logo {
  width: 148px;
  height: 25px;
}

#header-logo.menu-open > g > path, #header-logo.menu-open > g > g > circle {
  fill: hsl(0, 0%, 100%);
}

#header-logo.menu-open > g > g > path {
  fill: hsl(229deg 31% 21% / 90%);
}

#img-menu-open {
  width: 18px;
  height: 15px;
}

#img-menu-close {
  width: 16px;
  height: 15px;
}

nav {
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
  height: 590px;
  padding: 1rem;
  text-align: center;
  background-color: hsl(229deg 31% 21% / 90%);
}

.item-menu {
  padding: 1rem 0;
  border-top: .1px solid hsl(229, 8%, 60%);
}

.item-menu > a {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  letter-spacing: .2rem;
}

.item-menu > a:hover {
  color: hsl(0, 94%, 66%);
}

.item-menu:last-of-type > a {
  display: block;
  width: 100%;
  padding: .5rem 0;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 5px;
  font-weight: 500;
}

.item-menu:last-of-type > a:hover {
  border-color: hsl(0, 94%, 66%);
}

.header-list-social-media-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin: 16rem auto 0 auto;
}

/* Main */
.div-hero {
  margin: 3rem 0 8rem 0;
  position: relative;
}

.div-hero::after {
  content: '';
  width: 100%;
  height: 200px;
  background-color: hsl(231, 69%, 60%);
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  position: absolute;
  top: 60px;
  right: -60px;
  z-index: -1;
}

.div-hero > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem;
  text-align: center;
}

.div-hero > div > h2 {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin: 0 auto 1rem auto;
}

.div-hero > div > div {
  line-height: 1.5rem;
  color: hsl(229, 8%, 60%);
  margin: 0 auto 1rem auto;
}

.div-ctas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.btn-cta {
  padding: 1rem;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border: 1px solid hsl(231, 69%, 60%);
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
}

.chrome:hover, .item-feature > .btn-cta:hover, .div-faq > button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
}

.firefox {
  background-color: hsl(0, 0%, 100%);
  color: hsl(229, 31%, 21%);
  border-color: transparent;
}

.firefox:hover {
  border-color: hsl(229, 31%, 21%);
}

.div-features, .div-download {
  text-align: center;
  padding: 1.5rem;
  margin: 8rem 0;
}

.list-features {
  margin: 3rem 0;
}

.list-features > li {
  padding: 1.5rem 0;
  border-top: .1px solid hsl(229, 8%, 60%);
  color: hsl(229, 8%, 60%);
  position: relative;
}

.list-features > li:hover, .item-helpful-link > a:hover {
  color: hsl(0, 94%, 66%);
}

.list-features > li:last-of-type {
  border-bottom: .1px solid hsl(229, 8%, 60%);
}

.list-features > li.active {
  color: hsl(229, 31%, 21%);
}

.list-features > li.active::after {
  content: '';
  width: 40%;
  height: 5px;
  background-color: hsl(0, 94%, 66%);
  position: absolute;
  bottom: .2px;
  left: 30%;
}

.item-feature {
  position: relative;
}

.item-feature::after {
  content: '';
  width: 100%;
  height: 215px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  position: absolute;
  top: 36px;
  left: -30px;
  background-color: hsl(231, 69%, 60%);
  z-index: -1;
}

.img-feature {
  display: block;
  margin: 6rem 0;
}

.div-features > h3, .item-feature > div > h3, .div-download > h3, .div-faq > h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-bottom: 1rem;
}

.div-features > div, .item-feature > div > div, .div-download > div, .div-faq > div, .item-question > div:last-of-type {
  line-height: 1.5rem;
  color: hsl(229, 8%, 60%);
  margin-bottom: 1rem;
}

.item-browser {
  width: 90%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  position: relative;
  background-image: url('../images/bg-dots.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom 6rem left 0px;
}

.img-browser {
  width: auto;
  height: 100px;
  margin: 1.5rem 0;
}

.item-browser > h4 {
  font-size: 1.25rem;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-bottom: .75rem;
}

.item-browser > div {
  font-size: 1rem;
  color: hsl(229, 8%, 60%);
}

.item-browser > button {
  margin-top: 3rem;
  background-color: hsl(231, 69%, 60%);
  border: 1px solid hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 1rem 0;
  width: 100%;
  font-weight: 500;
}

.item-browser > button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(231, 69%, 60%);
}

.div-faq {
  text-align: center;
  padding: 1.5rem;
  margin: 3rem 0;
}

.list-faq {
  text-align: start;
  margin: 3rem 0;
}

.item-question > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: .1px solid hsl(229, 8%, 60%);
}

.item-question > div:first-of-type:hover > h4 {
  color: hsl(0, 94%, 66%);
}

.item-question > div:first-of-type.open {
  border-bottom: none;
}

.item-question > div:first-of-type > h4 {
  color: hsl(229, 31%, 21%);
  font-weight: 500;
}

.img-arrow {
  width: 18px;
  height: 12px;
}

.img-arrow.open {
  transform: rotate(180deg);
}

.img-arrow.open > path {
  stroke: hsl(0, 94%, 66%);
}

.div-faq .btn-cta {
  color: hsl(0, 0%, 100%);
  background-color: hsl(231, 69%, 60%);
  padding: .75rem 1rem;
}

.div-email > div:first-of-type {
  margin: 1.5rem 0 1rem 0;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  letter-spacing: 3px;
  font-size: 14px;
}

.div-email {
  padding: 1.5rem;
  margin: 3rem 0 0 0;
  text-align: center;
  background-color: hsl(231, 69%, 60%);
}

.div-email > h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

.div-email-input {
  position: relative;
  z-index: 2;
}

.div-email-input.error::after {
  content: url('../images/icon-error.svg');
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: 1px solid transparent;
}

#input-email {
  background-color: hsl(0, 0%, 100%);
}

#input-email.error {
  border: 1px solid hsl(0, 94%, 66%);
  margin-bottom: 2.5rem;
}

#error-msg {
  display: block;
  width: 100%;
  text-align: start;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  position: absolute;
  z-index: -1;
  bottom: -1.5rem;
  left: 0;
  font-size: .8rem;
  font-style: italic;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 94%, 66%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#input-submit {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 94%, 66%);
}

#input-submit:hover {
  border-color: hsl(0, 94%, 66%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 94%, 66%);
}

footer {
  padding: 2.5rem;
  text-align: center;
  background-color: hsl(229, 31%, 21%);
}

#footer-logo {
  margin-bottom: 1.5rem;
}

.item-helpful-link {
  margin-bottom: 1.5rem;
}

.item-helpful-link > a {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.list-social-media-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin: 0 auto;
}

.header-list-social-media-links > li > svg:hover > path, .item-social-media-link > svg:hover > path {
  fill: hsl(0, 94%, 66%);
}

@media (min-width: 376px) {
  .div-ctas {
    justify-content: space-evenly;
  }
}

@media (min-width: 576px) {
  #img-hero {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .div-hero > div > h2, .div-hero > div > div, .img-feature,
  .div-features > div, .item-feature > div > div, .list-features > li, .div-download > div,
   .div-faq > div, .item-question, .div-email > h3, form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-feature {
    margin: 6rem auto;
  }

  .div-hero::after, .item-feature::after {
    width: 80%;
    top: 100px;
  }

  .item-browser {
    width: 80%;
  }

  .header-list-social-media-links, .list-social-media-links {
    width: 18%;
  }
}

@media (min-width: 767px) {
  .div-hero > div > h2, .div-hero > div > div, .img-feature,
  .div-features > div, .item-feature > div > div, .list-features > li, .div-download > div,
  .div-faq > div, .item-question, .div-email > h3, form {
    width: 70%;
  }

  .item-browser {
    width: 70%;
  }

  .header-list-social-media-links, .list-social-media-links {
    width: 14%;
  }
}

@media (min-width: 922px) {
  nav {
    position: initial;
    top: initial;
    left: initial;
    width: auto;
    height: auto;
    padding: 0;
    text-align: start;
    background-color: transparent;
  }

  .list-menu {
    display: flex;
    align-items: center;
  }

  .item-menu {
    padding: 0;
    border-top: none;
    margin-left: 1.5rem;
  }

  .item-menu > a {
    color: hsl(229, 31%, 21%);
    letter-spacing: normal;
    font-weight: 400;
  }

  .item-menu:last-of-type > a {
    padding: .5rem 1.25rem;
    background-color: hsl(0, 94%, 66%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    font-weight: 400;
  }

  .item-menu:last-of-type > a:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 94%, 66%);
  }

  .div-hero {
    display: flex;
    overflow: hidden;
  }

  #img-hero {
    width: 55%;
    order: 2;
    margin-right: -3rem;
  }

  .div-hero > div {
    order: 1;
    text-align: start;
  }

  .div-hero > div > h2, .div-hero > div > div {
    width: auto;
    margin: 0 0 1rem 0;
  }

  .div-hero > div > div:last-of-type {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  .div-ctas > button {
    padding: .5rem 1.25rem;
    width: auto;
    height: fit-content;
  }

  .chrome {
    margin-right: 1rem;
  }

  .div-hero > div > h2, .div-hero > div > div, .img-feature,
  .div-features > div, .item-feature > div > div, .list-features > li, .div-download > div,
  .div-faq > div, .item-question, .div-email > h3, form {
    width: 55%;
  }

  .list-features {
    width: 80%;
    display: flex;
    margin: 0 auto;
  }

  .list-features > li {
    border-top: none;
    border-bottom: .1px solid hsl(229, 8%, 60%);
  }

  .list-features > li.active::after {
    width: 100%;
    bottom: -1.8px;
    left: 0;
  }
}

@media (min-width: 922px) {
  .div-hero {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
  }

  .div-hero::after {
    top: 110px;
    right: -420px;
  }

  #img-hero {
    width: 45%;
    margin-right: -1rem;
  }

  .div-hero > div > h2 {
    width: auto;
  }

  .div-hero > div > div {
    width: 90%;
  }

  .div-features, .div-download {
    margin: 2rem 0;
  }

  .item-feature {
    display: flex;
    align-items: center;
  }

  .item-feature::after {
    top: 180px;
    left: -320px;
  }

  .img-feature {
    width: 50%;
    margin: 4rem 0;
  }

  .item-feature > div {
    text-align: start;
    margin-left: 3rem;
  }

  .item-feature > div > div {
    margin: 0 0 1rem 0;
    width: auto;
  }

  .item-feature .btn-cta {
    padding: .5rem 1rem;
  }

  .list-downloads {
    display: flex;
  }

  .item-browser {
    width: 30%;
  }

  .item-browser:nth-of-type(2n) {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .item-browser:last-of-type {
    margin-top: 4.5rem;
    margin-bottom: -1.5rem;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 1.5rem 3rem;
  }

  .div-hero {
    padding: 0 3rem 2rem 3rem;
    align-items: center;
  }

  #img-hero {
    width: 50%;
    margin-right: 0;
  }

  .div-hero > div, .div-features {
    padding: 0;
  }

  .div-hero > div > h2 {
    font-size: 2.5rem;
  }

  .div-hero > div > h2, .div-hero > div > div {
    width: 75%;
  }

  .div-hero::after {
    width: 75%;
    height: 300px;
    top: 100px;
    right: -450px;
  }

  .div-features > div {
    width: 40%;
  }

  .list-features {
    width: 55%;
  }

  .list-feature-images {
    padding: 0 3rem;
  }

  .item-feature::after {
    top: 180px;
    left: -415px;
    height: 300px;
  }

  .item-feature > div {
    margin-left: 6rem;
  }

  .item-feature > div > div {
    width: 85%;
  }

  .div-email > h3 {
    width: 30%;
  }

  form {
    display: flex;
    width: 35%;
  }

  .div-email-input {
    width: 65%;
    margin-right: 1rem;
  }

  #input-submit {
    width: 35%;
  }

  footer {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
  }

  #footer-logo, .item-helpful-link {
    margin: 0 1.5rem 0 0 ;
  }

  .list-helpful-links {
    display: flex;
  }

  .list-social-media-links {
    margin: 0 0 0 auto;
    width: 8%;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 3rem 9rem;
  }

  .item-menu {
    margin-left: 3rem;
  }

  .div-hero {
    padding: 0 0 3rem 9rem;
  }

  .div-hero::after {
    width: 50%;
    height: 315px;
    top: 140px;
    right: -200px;
  }

  #img-hero {
    margin-right: 3rem;
  }

  .div-hero > div > h2 {
    font-size: 3rem;
  }

  .div-hero > div > div {
    width: 70%;
  }

  .div-features > h3, .item-feature > div > h3, .div-download > h3, .div-faq > h3 {
    font-size: 1.75rem;
  }

  .div-features > div {
    width: 33%;
  }

  .list-features {
    width: 43%;
  }

  .list-feature-images {
    padding: 0 9rem 0 0;
  }

  .img-feature {
    width: 44%;
    margin-left: 9rem;
  }

  .item-feature > div {
    width: 35%;
    margin-left: 6rem;
  }

  .item-feature::after {
    top: 165px;
    left: -400px;
    height: 350px;
  }

  .div-download {
    margin: 6rem 0;
  }

  .div-download > div {
    width: 35%;
  }

  .list-downloads {
    padding: 0 18rem;
  }

  .div-faq {
    margin-bottom: 6rem;
  }

  .div-faq > div {
    width: 33%;
  }

  .item-question {
    width: 35%;
  }

  .div-email {
    padding: 3rem 0;
  }

  .div-email > h3 {
    font-size: 1.75rem;
  }

  .div-email > h3, form {
    width: 30%;
  }

  .div-email-input {
    width: 70%;
  }

  #input-email, #input-submit {
    padding: .75rem 1rem;
  }

  footer {
    padding: 1.5rem 9rem;
  }

  #footer-logo, .item-helpful-link {
    margin-right: 3rem;
  }
}
